<h5>Portfolio List</h5>
<div class='card border-0 pb-3 d-flex flex-row' *ngFor="let item of portfolioItems">
  <div class='w-25 pr-3 d-flex flex-column'>
    <img class="img-responsive" [src]="getImageUrl(item.image)" width="100%" alt="placeholder">
  </div>
  <div class="w-75 pl-3 d-flex flex-column">
      <h5 class="d-flex">{{item.title}}</h5>
      <div *ngIf="item.note">{{item.note}}</div>
      <div>{{item.description}}</div>
      <div>Skills:<b>{{displaySkills(item.skills)}}</b></div>
  </div>
</div>