<div class="d-flex flex-column flex-md-row">
  <div class="body">
    <section id="name" class='p-2'>
      <h2>Locke Newell</h2>
      <h5>Full Stack Software Engineer</h5>
    </section>
  </div>
  <div class="sidebar">
    <section id="contact" class='p-2'>
      <h5>Contact</h5>
      <div *ngFor="let contactMethod of contactMethods" [class]="contactMethod.class">
        {{contactMethod.body}}
      </div>
    </section>
  </div>
</div>
<div class="d-flex pt-3 flex-column flex-md-row-reverse">
  <div class="sidebar">
    <section id="skills" class='p-2'>
      <h5>Skills</h5>
      <div class="p-1" *ngFor="let skill of skills" (click)='onClickScroll(skill.jobLink)'><ngb-progressbar [type]="this.getSkillLevel(skill.experience)" [value]="this.getSkillPercent(skill.experience)">{{skill.name}}</ngb-progressbar></div>
    </section>
    <section id="tools" class='p-2'>
      <h5>Tools</h5>
      <div class="pt-2" *ngFor="let tool of tools">
        <div><b>{{tool.type}}:</b> ({{stringListJoin(tool.list)}})</div>
      </div>
    </section>
    <section id="education" class='p-2'>
      <h5>Education</h5>
      <div class="pt-2" *ngFor="let item of education">
        <h6 class="m-0">{{item.title}}</h6>
        <div>{{item.name}}, {{item.location}}</div>
        <div class='dates'>{{item.range}}</div>
      </div>
    </section>  
  </div>
  <div class="body">
    <section id="experience" class='p-2'>
      <h5>Job Experience</h5>
      <div *ngFor="let item of experiences" [id]='item.id'>
        <h6>{{item.title}} ({{item.range}})</h6>
        <div class='title'>{{item.name}}</div>
        <div class='location'>{{item.location}}</div>
        <ul>
          <li *ngFor="let comment of item.comments">{{comment}}</li>
        </ul>
      </div>
    </section>

  </div>
</div>