<div class="d-flex flex-row justify-content-between flex-wrap">
  <section id="name" class='body p-2'>
    <h2>Locke Newell</h2>
  </section>
  <section id="contact" class='body p-2'>
    <h5>Contact</h5>
    <div *ngFor="let contactMethod of contactMethods" [class]="contactMethod.class">
      {{contactMethod.body}}
    </div>
  </section>
</div>
<div class="d-flex">
  <section id="skills" class='body p-2'>
    <h5>Skills</h5>
    <p>
      Angular, Express, Node.js, REST API, PL/SQL, MySQL, SQL Server, HTML, CSS, AJAX, Bootstrap, jQuery, JSON, JavaScript, TypeScript, Java, C#, C, C++, PHP, VB.NET, Pearl, Touchnet
    </p>
  </section>
</div>
<div class="d-flex flex-row justify-content-between flex-wrap">
  <section id="experience" class='body p-2'>
    <h5>Experience</h5>
    <div *ngFor="let item of experiences">
      <h6>{{item.name}}</h6>
      <div class='location'>{{item.location}}</div>
      <div class='title'>{{item.title}}</div>
      <div class='dates'>{{item.dates.start}}-{{item.dates.end}}</div>
      <ul>
        <li *ngFor="let comment of item.comments">{{comment}}</li>
      </ul>
    </div>
  </section>
  <section id="education" class='body p-2'>
    <h5>Education</h5>
    <div *ngFor="let item of education">
      <h6>{{item.name}}</h6>
      <div class='location'>{{item.location}}</div>
      <div class='title'>{{item.title}}</div>
      <div class='dates'>{{item.range}}</div>
    </div>
  </section>  
</div>