<header role="main" class="p-2">

  <h1>{{header}}</h1>
  <h5>{{header2}}</h5>

</header>
<nav>
      <ul ngbNav class="nav-tabs">
        <li  [ngbNavItem]="link.id" *ngFor="let link of navigationLinks">
          <a [routerLink]="link.route" [id]="link.id">
            {{link.name}}
          </a>
        </li>
      </ul>
</nav>
<router-outlet></router-outlet>

<footer class="d-flex flex-row justify-content-between flex-wrap">
  <div class="p-2">
    <h4>LockeNewell.com</h4>
    &copy;{{year}} LockeNewell.com
  </div>
  <div class="p-2">
    <h4>About Me</h4>
    <ul>
      <li *ngFor="let navigationLink of navigationLinks">
        <a [routerLink]="navigationLink.route" [id]="navigationLink.id">
          {{navigationLink.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="p-2">
    <h4>Contact Me</h4>
    <ul>
      <li *ngFor="let contactMethod of contactMethods">
        <div [class]="contactMethod.class">{{contactMethod.body}}</div>
      </li>
    </ul>
  </div>
</footer>
