<header role="main" class="p-2">

  <h1>{{header}}</h1>
  <h5>{{header2}}</h5>

</header>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="d-flex">
      <a class="navbar-brand"></a>
      <ul class="nav" routerLinkActive="active">
        <li class="nav-item" *ngFor="let link of navigationLinks">
          <a [class.selected]="link.active" class="nav-link" [routerLink]="link.route" [id]="link.id" (click)=updateActiveLink(link.id)>
            {{link.name}}
          </a>
        </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="d-flex flex-row justify-content-between flex-wrap">
  <div class="p-2">
    <h4>LockeNewell.com</h4>
    &copy;{{year}} LockeNewell.com
  </div>
  <div class="p-2">
    <h4>About Me</h4>
    <ul>
      <li *ngFor="let navigationLink of navigationLinks">
        <a [routerLink]="navigationLink.route" [id]="navigationLink.id">
          {{navigationLink.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="p-2">
    <h4>Contact Me</h4>
    <ul>
      <li *ngFor="let contactMethod of contactMethods">
        <div [class]="contactMethod.class">{{contactMethod.body}}</div>
      </li>
    </ul>
  </div>
</footer>
