<header role="main" class="p-2">

  <h1>{{header}}</h1>
  <h5>{{header2}}</h5>

</header>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="d-flex">
      <a class="navbar-brand"></a>
      <ul class="nav" routerLinkActive="active">
        <li class="nav-item" *ngFor="let link of navigationLinks">
          <a [class.selected]="link.active" class="nav-link" [routerLink]="link.route" [id]="link.id" (click)=updateActiveLink(link.id)>
            {{link.name}}
          </a>
        </li>
      </ul>
  </div>
</nav>
<main class="view-side-form">
<router-outlet></router-outlet>
</main>

<footer class="d-flex flex-column">
  <div class="p-2 d-flex flex-column">
    <p class="text-center h4">Contact Me</p>
    <span class="text-center" *ngFor="let contactMethod of contactMethods">
      {{contactMethod.body}}
    </span>
  </div>
  <div class="p-2 d-flex flex-column justify-content-center">
    <p class="text-center h4">LockeNewell.com</p>
    <p class="text-center">&copy;{{year}} LockeNewell.com all rights reserved.</p>
  </div>
</footer>
