<section id="elevator" class='body p-3'>
  <p>
    I’m a Full Stack Software Engineer with over 20 years of practical experience in the private and public sector.
  </p>
  <p>
    I implement software solutions that individuals, businesses, and public organizations need to get stuff done.
  </p>
  <p>
    My most common duties included updating applications or components that asynchronously  communicate with web services that I found to provide external feeds or created to serve data from a database.
  </p>

  <h4>Someone with my skills might be tasked with the following:</h4>
  <ul>
     <li>Updating a websites Features or Components from PHP, AngularJS, or JSP to Angular12 or React and web service from PHP, JSP  to NodeJS or C# .NET</li>
     <li>Setting up GraphQL or Entity Framework</li>
     <li>Generating Database Migration files.</li>
     <li>Creating a mobile point of sale application that has intermittent connection to both its database of products and credit card processing.</li>
     <li>Implementing a tracking system solution that will monitor an online shopping system to gather data on users abandoning their shopping carts and feed the data into a machine-learning algorithm that could provide actionable updates to capture or recapture the sale.</li>
     <li>Utilizing pre-existing software components for novel solutions to hardware problems like hardware emulators used for testing being repurposed for simulations.</li>
     <li>Acting as an external reviewer of software Requirements to ensure all use cases are considered.</li>
     <li>Creating informational/educational websites monetized by ad revenue.</li>
     <li>Creating a mobile game for IOS or Android using popular game engines like https://phazer.io.</li>
  </ul>
</section>