<section id="elevator">
  <ngb-carousel showNavigationArrows="true" [showNavigationIndicators]="true">
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>Who am I?</h3>
        <p>My name is Locke Newell and I’m a Full Stack Software Engineer with over 20 years of practical experience in the private and public sector.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>What Can I do?</h3>
        <p>
          I'm all about coming up with inventive software solutions to the real life issues Individuals, businesses, and public organizations need to get stuff done.
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>How I do my job?</h3>
        <ol>
          <li>Write tests to drive development.</li>
          <li>Create interesting and fun user interactions on a website or application.</li>
          <li>Generate or implement services that power my user Interactions.</li>
          <li>Build data layers and databases to make implementation dynamic and scalable.</li>
        </ol>
      </div>
    </ng-template>
  </ngb-carousel>
</section>