<section id="elevator" class="body p-3">
  <p>
    I'm a Full Stack Software Engineer with over 20 years of practical
    experience in the private and public sector. In this time I have created, updated, and
    maintained numerous applications, components, web services, and databases.
  </p>
  <p>
    Although I have worked on many projects by myself, I have found that I most
    enjoy my job when surrounded by diverse teams of people. I enjoy working
    with a team that embraces agile/scrum development and peer review, and I
    particularly excel at and enjoy customer and user interactions, as part of
    design and requirement specification.
  </p>
  <p>
    As you can see on my resume and portfolio, my most recent
    work has been split between React and Angular for frontend work, NodeJS for
    backend work, Objection.js as an ORM connecting to MySQL and writing PL/SQL for oracle.
    However, I have created applications in many languages using many technologies. Because of my
    experience in older and newer languages and technologies, I can thoughtfully
    evaluate and include new technologies that support a strong codebase.
  </p>
  <p>
    My experience has also led me to prefer strongly typed languages like
    TypeScript, Java, and C# for their capacity to prevent errors. Similarly, my
    experience has led me to value unit and integration testing, to reduce the
    cost for refactoring. In my work I strongly prioritize readability and
    functionality of code, over strict adherence to object oriented or
    functional programming. My bottom line, however, is accurately understanding
    and meeting users' needs.
  </p>

  <h4>Someone with my skills might be tasked with the following:</h4>
  <ul>
    <li>
      Updating a websites Features or Components from PHP, AngularJS, or JSP to
      Angular12 or React and web service from PHP, JSP to NodeJS or C# .NET
    </li>
    <li>Setting up GraphQL or Entity Framework</li>
    <li>Generating Database Migration files.</li>
    <li>
      Creating a mobile point of sale application that has intermittent
      connection to both its database of products and credit card processing.
    </li>
    <li>
      Implementing a tracking system solution that will monitor an online
      shopping system to gather data on users abandoning their shopping carts
      and feed the data into a machine-learning algorithm that could provide
      actionable updates to capture or recapture the sale.
    </li>
    <li>
      Utilizing pre-existing software components for novel solutions to hardware
      problems like hardware emulators used for testing being repurposed for
      simulations.
    </li>
    <li>
      Acting as an external reviewer of software Requirements to ensure all use
      cases are considered.
    </li>
    <li>
      Creating informational/educational websites monetized by ad revenue.
    </li>
    <li>
      Creating a mobile game for IOS or Android using popular game engines like
      https://phazer.io.
    </li>
  </ul>
</section>
